@import url('https://fonts.googleapis.com/css2?family=Sofia+Sans&display=swap');

@font-face {
    font-family: 'Sofia Sans';
    font-size: 2rem;
    text-rendering: optimizeLegibility;
    border-bottom: 1px solid hsla(0, 0%, 0%, 0.07);
    src: local('Sofia Sans')
}